@using System.Collections.Generic;
@using Project.DAL.Entities;
@using Project.BLL;

@model UserViewModel
@inject DepartmentService DepartmentService
@inject UnitOfWork UnitOfWork

@*<section aria-labelledby="user-title">*@
    <h1 id="user-title">Users</h1>

    <partial name="_CreateUser" model="Model.Shell" />

    <ul>
        @foreach (var user in Model.Users)
        {
            Department? bossOfDepartment = DepartmentService.GetDepartmentWhereUserIsBoss(user);
            
            <li>
                <article id="user-@user.Id">
                    <header>
                        <h2>@user.Username</h2>
                        <a asp-controller="User" 
                           asp-action="Delete" 
                           asp-route-userId="@user.Id"
                           type="button"
                        >Delete</a>
                    </header>
                    @if (!string.IsNullOrEmpty(user.Email))
                    {
                        <h3>@user.Email</h3>
                    }
                    
                    <section name="Department">
                        @if (bossOfDepartment != null)
                        {
                            <span class="boss-of-department"><b>Boss of</b> @bossOfDepartment.Name</span>
                        }
                        @if (user.Department != null)
                        {
                            <span><b>Department</b> @user.Department.Name</span>
                            <div class="department-admin-panel">
                                <form method="post" asp-controller="User" asp-action="Move">
                                    <select name="departmentId">
                                        <option value="">Move to department</option>
                                        @foreach (var department in DepartmentService.GetDepartmetsExcludeUsersDepartment(user))
                                        {
                                            <option value="@department.Id">@department.Name</option>
                                        }
                                    </select>
                                    <input type="hidden" name="userId" value="@user.Id" />
                                    <input type="submit" value="Move" />
                                </form>

                                <a asp-controller="User" asp-action="PromoteToBoss" asp-route-userId="@user.Id">Promote to boss</a>
                                <a asp-controller="User" asp-action="Fire" asp-route-userId="@user.Id">Fire</a>
                            </div>
                        }
                    </section>
                </article>
            </li>
        }
    </ul>
@*</section>*@